version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      playwright:
        patterns:
          - "playwright"
          - "@playwright/test"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

