/node_modules/
/public/build/
/public/data.json
/public/index.html
.idea

.DS_Store

local.key
local.cert

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

dist
